/*!
 * https://github.com/YouCanBookMe/react-datetime
 */

.date-range-picker {
    display: flex;
    justify-content: center;
}
.date-range-picker .drp-wrapper {
    align-items: center;
    display: flex;
    margin: 0 10px;
}
.date-range-picker .drp-wrapper > span {
    margin-right: 10px;
}
.date-range-picker .form-control {
    border-radius: 3px;
    margin: 0;
    padding: 5px;
}

.date-range-picker .rdt {
  position: relative;
}
.date-range-picker .rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
}
@media (max-width: 600px) {
    .date-range-picker .right-on-mobile .rdtPicker {
        right: 0;
    }
}

.date-range-picker .rdtOpen .rdtPicker {
  display: block;
}
.date-range-picker .rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.date-range-picker .rdtPicker .rdtTimeToggle {
  text-align: center;
}

.date-range-picker .rdtPicker table {
  width: 100%;
  margin: 0;
}
.date-range-picker .rdtPicker td,
.date-range-picker .rdtPicker th {
  height: 28px;
  line-height: 28px;
  text-align: center;
}
.date-range-picker .rdtPicker td {
  cursor: pointer;
}
.date-range-picker .rdtPicker td.rdtDay:hover,
.date-range-picker .rdtPicker td.rdtHour:hover,
.date-range-picker .rdtPicker td.rdtMinute:hover,
.date-range-picker .rdtPicker td.rdtSecond:hover,
.date-range-picker .rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.date-range-picker .rdtPicker td.rdtOld,
.date-range-picker .rdtPicker td.rdtNew {
  color: #999999;
}
.date-range-picker .rdtPicker td.rdtToday {
  position: relative;
}
.date-range-picker .rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.date-range-picker .rdtPicker td.rdtActive,
.date-range-picker .rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.date-range-picker .rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.date-range-picker .rdtPicker td.rdtDisabled,
.date-range-picker .rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.date-range-picker .rdtPicker td span.rdtOld {
  color: #999999;
}
.date-range-picker .rdtPicker td span.rdtDisabled,
.date-range-picker .rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.date-range-picker .rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.date-range-picker .rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
}
.date-range-picker .rdtPicker th.rdtSwitch {
  width: 100px;
}
.date-range-picker .rdtPicker th.rdtNext,
.date-range-picker .rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.date-range-picker .rdtPrev span,
.date-range-picker .rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.date-range-picker .rdtPicker th.rdtDisabled,
.date-range-picker .rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.date-range-picker .rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.date-range-picker .rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.date-range-picker .rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.date-range-picker .rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.date-range-picker .rdtPicker button:hover {
  background-color: #eee;
}

.date-range-picker .rdtPicker thead button {
  width: 100%;
  height: 100%;
}

.date-range-picker  td.rdtMonth,
.date-range-picker  td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
.date-range-picker  td.rdtMonth:hover,
.date-range-picker  td.rdtYear:hover {
  background: #eee;
}

.date-range-picker .rdtCounters {
  display: inline-block;
}

.date-range-picker .rdtCounters > div {
  float: left;
}

.date-range-picker .rdtCounter {
  height: 100px;
}

.date-range-picker .rdtCounter {
  width: 40px;
}

.date-range-picker .rdtCounterSeparator {
  line-height: 100px;
}

.date-range-picker .rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.date-range-picker .rdtCounter .rdtBtn:hover {
  background: #eee;
}
.date-range-picker .rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.date-range-picker .rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.date-range-picker .rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}
